<ng-container *ngIf="isWide else simpleTemplate">
  <ng-container *ngTemplateOutlet="wideTemplate"></ng-container>
</ng-container>

<ng-template #simpleTemplate>
  <div class="product-card" fxLayout="column-reverse">
    <div class="product-card__header">
      <a class="product-card__title" [routerLink]="['/product', product.productId]">
        {{product.productName}}
      </a>
    </div>

    <div class="product-card__content" fxLayoutAlign="center center">
      <img class="product-card__image" src="../../../../assets/images/ImageItem.png" alt="Photo of the product">
    </div>
  </div>
</ng-template>

<ng-template #wideTemplate>

  <!-- ! use short class .wide instead product-card_wide & change two blocks on one. [ngClass]="{'wide': isWide}" -->
  <div class="product-card product-card_wide" fxLayout="column-reverse">
    <div class="product-card__header">
      <a class="product-card__title" [routerLink]="['/product', product.productId]">
        {{product.productName}}
      </a>
    </div>
    <div class="product-card__content" fxLayoutAlign="center center">
      <img class="product-card__image" src="../../../../assets/images/ImageItem.png" alt="Photo of the product">
    </div>
  </div>
</ng-template>