@import "../../../../../styles/variables.scss";

@keyframes animatetop {
  from {top:-300px; opacity:0} to {top:0; opacity:1}
}

.cart-modal {
    position: fixed;
    z-index: 1000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  
  &__content {
    position: relative;
    margin: auto;
    padding: 0;
    max-width: 1084px;
    min-height: 738px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
  }
  
  &__product-list {
    width: 60%;
    background-color: $white-color;

    &_mobile {
      width: 100%;
    }
  }

  &__sending-form {
    width: 40%;
    background-color: $base-grey-background;

    &_mobile {
      width: 100%;
    }

    .header {
      padding-top: 40px;
    }
  }

  &__header {
    width: 100%;
    flex: 0 0 auto;
  }
  
  &__body {
    width: 100%;
    flex: 1 0 auto;
  }

  &__footer {
    width: 100%;
    flex: 0 0 auto;
  }
}