.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 30px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: #fff;
  max-width: 1025px;
  margin: auto;

  li {
    display: inline-block;
    margin-left: 15px;

    a {
      text-decoration: none;
      color: #212529;
      transition: .3s;

      &:hover {
        color: var(--primary-light-color);
      }
    }
  }
}
