.topLine
  // &__sectionDeskTop
  //   display: flex
  //   align-items: center

  // &__sign-up
  //   text-decoration: none
  //   color: #ffffff
  //   font-size: 1rem

.form
  // padding: 25px
  // min-width: 250px
  // display: flex
  // flex-direction: column

  // .MuiGrid-container
  //   align-items: center

  //   .MuiSvgIcon-root
  //     margin-top: 10px
  //     margin-right: 10px
  //     opacity: 0.5

  // &__header
  //   margin-bottom: 20px

  // .MuiTypography-h4
  //   font-weight: bold

  // .MuiFormControl-root
  //   margin-bottom: 10px

  &__link
    align-self: flex-end
    font-size: 12px
    text-decoration: none
    color: #0277bd

    &_policy
      align-self: center
      margin-top: 10px

    &_cancel
      margin-top: 30px


  // &__recovery
  //   .form__header
  //     margin-bottom: 10px
      
  //   .MuiButton-root
  //     margin-top: 10px

  // .MuiButton-root
  //   margin-top: 30px
