//general
$white-color: #fff;
$green-color: #72AC0D;
$black-color: #000000;
$red-color: #f57575;

//background
$footer-background: #3D4A4F;
$header-grey-background: #374246;
$base-grey-background:  #3F4A4E;

//buttons
$grey-background-btn: #707E84;

//lines
$slider-line-color:  #C9D3D6;
$header-cart-line: #DDDDDD;

//fonts
$light-grey-color: #C9D3D6;

//forms
$placeholder-color: #C4C4C4;
$underline-color: #5A676B;