<mat-toolbar-row>
  <div fxLayout="row" fxLayout.lt-md="column-reverse" fxLayoutAlign="space-between center"
    fxLayoutAlign.lt-md="space-around center" class="footer"
    [ngClass.lt-lg]="{'footer__mobile': true}">
    <div fxlayout="row" fxLayoutAlign="center">
      <app-svg-icons [iconType]="iconList.Logo" class="footer__logo" [ngClass.lt-md]="{'footer__logo_mobile': true}"></app-svg-icons>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutAlign.gt-sm="space-around stretch"
      fxLayoutGap="30px">
      <div class="footer__item">Folow us:</div>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" fxLayoutGap.lt-sm="15px">

        <a href="https://github.com/darklimeteam">
          <app-svg-icons [iconType]="iconList.Github" class="footer__icon"></app-svg-icons>
        </a>

        <a href="https://www.facebook.com/darklimeteam">
          <app-svg-icons [iconType]="iconList.Facebook" class="footer__icon"></app-svg-icons>
        </a>

        <a href="https://www.linkedin.com/company/darklime">
          <app-svg-icons [iconType]="iconList.Linkedin" class="footer__icon"></app-svg-icons>
        </a>

        <a href="https://www.behance.net/alexzp">
          <app-svg-icons [iconType]="iconList.Behance" class="footer__icon"></app-svg-icons>
        </a>

        <a href="https://www.instagram.com/darklime_team">
          <app-svg-icons [iconType]="iconList.Instagram" class="footer__icon"></app-svg-icons>
        </a>

        <a href="https://www.youtube.com/channel/UC6QQKPw7SwpySDUf7gbOEAA/featured">
          <app-svg-icons [iconType]="iconList.Youtube" class="footer__icon"></app-svg-icons>
        </a>

        <a href="https://t.me/darklimeteam">
          <app-svg-icons [iconType]="iconList.Telegram" class="footer__icon"></app-svg-icons>
        </a>

        <a href="https://twitter.com/DarkLimeTeam">
          <app-svg-icons [iconType]="iconList.Twitter" class="footer__icon"></app-svg-icons>
        </a>
      
      </div>
    </div>
  </div>
</mat-toolbar-row>