<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <h2>Login as administrator</h2>
  
  <div class="form-control">
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email">
    <div class="validation" *ngIf="form.get('email').touched && form.get('email').invalid">
      <small *ngIf="form.get('email').errors.required">Enter email</small>
      <small *ngIf="form.get('email').errors.email">Enter correct email</small>
    </div>
  </div>

  <div class="form-control">
    <label for="password">Password:</label>
    <input id="password" type="password" formControlName="password">
    <div class="validation" *ngIf="form.get('password').touched && form.get('password').invalid">
      <small *ngIf="form.get('password').errors.required">Enter password</small>
      <small *ngIf="form.get('password').errors.minlength">
        Password must be at least {{form.get('password').errors.minlength.requiredLength}} caracter(s).
        Now {{form.get('password').errors.minlength.actualLength}} caracter(s)).
      </small>
    </div>
  </div>

  <button class="btn btn-primary btn-block" type="submin" [disabled]="form.invalid || submitted">Logon</button>

</form>
