{
  "extends": [
    "stylelint-config-sass-guidelines",
    "stylelint-config-concentric-order"
  ],
  "plugins": [
    "stylelint-scss"
  ],
  "ignoreFiles": [
    "dist/**/*"
  ],
  "rules": {
    "at-rule-empty-line-before": null,
    "order/properties-alphabetical-order": null,
    "order/properties-order": null,
    "selector-max-compound-selectors": null,
    "selector-pseudo-element-no-unknown": null,
    "selector-no-qualifying-type": null,
    "selector-class-pattern": "^(app-|cdk-|fa-|_){1}([a-z0-9]+)([-|_]+[a-z0-9]+)*$",
    "scss/selector-no-redundant-nesting-selector": null,
    "max-nesting-depth": null,
    "scss/at-mixin-pattern": null
  }
}
