@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import '~@angular/material/theming';
 
@include mat-core();

$testAngular-primary: mat-palette($mat-indigo);
$testAngular-accent: mat-palette($mat-pink, A200, A100, A400);

$testAngular-warn: mat-palette($mat-red);

$testAngular-theme: mat-light-theme($testAngular-primary, $testAngular-accent, $testAngular-warn);

@include angular-material-theme($testAngular-theme);

:root {
  --primary-color: #ef5b4c;
  --primary-dark-color: #D24335;
  --primary-light-color: #d68981;
  --secondary-color:  #007bff;
  --background-color: #ffffff;
  --background-color-2: #f9f9f3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.button {
  background: var(--primary-color);
  border: none;
  color: #ffffff;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px 67px;
  cursor: pointer;
  transition: .3s;

  &:hover {
    background: var(--primary-dark-color);
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
