/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --primary-color: #ef5b4c;
  --primary-light-color: #d68981;
  --secondary-color:  #007bff;
  --background-color: #ffffff;
  --background-color-2: #f9f9f3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  background: var(--primary-color);
  color: #ffffff;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px 67px;
  cursor: pointer;
  transition: .3s;

  &:hover {
    background: var(--primary-light-color);
  }
}
