
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$testAngular-primary: mat-palette($mat-indigo);
$testAngular-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$testAngular-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$testAngular-theme: mat-light-theme($testAngular-primary, $testAngular-accent, $testAngular-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($testAngular-theme);

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --primary-color: #ef5b4c;
  --primary-light-color: #d68981;
  --secondary-color:  #007bff;
  --background-color: #ffffff;
  --background-color-2: #f9f9f3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  background: var(--primary-color);
  color: #ffffff;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px 67px;
  cursor: pointer;
  transition: .3s;

  &:hover {
    background: var(--primary-light-color);
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
