<div class="container">
  <div class="header">
    <a routerLink="/" class="logo">
      <img src="../../assets/logo.svg" alt="logo">
    </a>

    <ul class="menu">
      <li><a routerLink="/about" routerLinkActive="secondary">About me</a></li>
      <li><a routerLink="/relashinship" routerLinkActive="secondary">Relationships</a></li>
      <li><a routerLink="/requirements" routerLinkActive="secondary">Requirements</a></li>
      <li><a routerLink="/users" routerLinkActive="secondary">Users</a></li>
      <li><a routerLink="/signup" routerLinkActive="secondary">Sign Up</a></li>
    </ul>
  </div>
</div>