@import "../../../styles/variables";

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    background-color: $header-grey-background;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    flex: 0 0 auto; // запрет на grow (0) & shrink (0) - basis (auto)
  }

  &__content {
    flex: 1 0 auto;
  }
}