<div class="product" id="products">
  <div class="product__header">
    <h2 class="product__header-title"><span>Key products</span></h2>
  </div>

  <div class="product__content" ngClass.lt-lg="mobile">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="12px">
      <div class="product__image" fxHide.lt-md fxFlex.gt-sm="50%" fxLayout="column" fxLayoutAlign="center"
        [style.backgroundImage]="currentImage">
      </div>
      <!-- <div class="product__image" fxHide.lt-md fxShow.gt-sm fxFlex.gt-sm="50%" fxLayout="column" fxLayoutAlign="center"
        [style.backgroundImage]="'url(' + getCurrentImage() + ')'">
      </div> -->

      <div class="product__list" fxLayout="column" fxLayoutAlign="center center" fxFlex.gt-sm="50%">
        <div class="product__list-item" *ngFor="let product of productArray; let i = index"
          (click)="setCurrentExpandedPanel(product)" fxLayout="column" fxLayoutAlign="start start">

          <div class="product-body__image-wrap" fxHide.gt-sm>
            <div class="product-body__image" [style.backgroundImage]="product.image"
              [ngClass]="{'show': product.isExpanded}">
            </div>
            <!-- <div class="product-body__image" [style.backgroundImage]="'url(' + product.image + ')'"
              [ngClass]="{'product-body__image_expand': product.isExpanded}">
            </div> -->
          </div>

          <div class="product-body__title" ngClass.lt-lg="mobile" fxLayout="row" fxLayoutGap="25px"
            fxLayoutGap.lt-md="10px">
            <div>
              <mat-icon class="product-body__title-icon" [ngClass]="{'expand': product.isExpanded}">arrow_downward
              </mat-icon>
            </div>

            <h2 [ngClass]="{'product-body__title_active': product.isExpanded}">
              {{product.title}}
            </h2>
          </div>

          <div class="product-body__description-wrap">
            <div class="product-body__descriptions" [ngClass]="{'expand': product.isExpanded}"
              [ngClass.lt-md]="{'expand': product.isExpanded, 'mobile': true}">
              {{product.description}}
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>