<div class="portfolio" id="caseStudies">
  <div class="portfolio__header">
    <div class="portfolio__header-title">
      <span>Case Studies</span>
    </div>
  </div>

  <mat-tab-group class="slider" headerPosition="below" [selectedIndex]="activeTabIndex"
    (selectedTabChange)="selectedTabChange($event)">
    <mat-tab *ngFor="let tab of tabs" label={{tab.label}}>
      <ng-template mat-tab-label>
        <div class="slider__counter" [ngClass]="{'active': tab.isActive}" 
        [ngClass.lt-md]="{'active': tab.isActive, 'mobile': true}"></div>
      </ng-template>

      <div class="slider__container" ngClass.lt-lg="mobile" fxLayout="row" fxLayout.lt-md="column-reverse"
        fxLayoutAlign="space-around center" (click)="customSlider()">

        <div class="slider__content" ngClass.lt-md="mobile" fxLayout.lt-md="column">
          <div class="slider__title">{{tab.title}}</div>

          <div class="slider__description">
            <span>Overview</span><br>
            <div>
              <p *ngIf="tab.label == 'First'; else text">Links:</p>
              <ng-template #text>
                <p>The Best Social Network for Sports Fans.</p>
              </ng-template>

              <p *ngIf="tab.label == 'Second'">{{tab.description}}</p>
              <ul>
                <ng-container *ngFor="let item of tab.list; let i = index">
                  <li *ngIf="tab.label == 'First'; else feature">
                    <a href={{item.link}} target="_blank" class="slider__link">
                      {{item.label}}
                    </a>
                  </li>

                  <ng-template #feature>
                    <li>{{item}}</li>
                  </ng-template>
                </ng-container>
              </ul>
            </div>

            <p *ngIf="tab.label != 'Second'">{{tab.description}}</p>
            <p *ngIf="tab.label == 'Second'">{{tab.description2}}</p>
          </div>

          <div class="slider__icons" ngClass.lt-md="mobile">
            <span>Services</span><br>
            <img src={{icon}} alt="image" *ngFor="let icon of tab.icons">
          </div>
        </div>

        <div class="slider__image" ngClass.lt-md="mobile">
          <img src={{tab.imageSrc}} alt={{tab.title}}>
        </div>

      </div>
    </mat-tab>
  </mat-tab-group>
</div>