<div class="portfolio" id="caseStudies">
  <div class="portfolio__header">
    <div class="portfolio__header-title">
      <span>Case Studies</span>
    </div>
  </div>

  <mat-tab-group class="slider" headerPosition="below" [selectedIndex]="activeTabIndex">
    <mat-tab *ngFor="let tab of tabs" label={{tab.label}}>
      <ng-template mat-tab-label>
        <div class="slider__counter" [ngClass]="{'active': tab.isActive}"></div>
      </ng-template>

      <div class="slider__container" fxLayout="row" fxLayoutAlign="space-around center">
        <div class="slider__content" ngClass.lt-md="mobile" fxLayout.lt-md="column">
          <div class="slider__title">{{tab.title}}</div>

          <div class="slider__description">
            <span>Overview</span><br>
            <div>
              <p>Links:</p>
              <ul>
                <ng-container *ngFor="let item of tab.list; let i = index">
                  <li>
                    <span *ngIf="tab.list.length == 0">{{item}}</span>
                    <a href={{item.link}} target="_blank" class="slider__link">
                      {{item.label}}
                    </a>
                  </li>

                  <!-- <ng-template #feature> -->
                    <!-- <li *ngIf="tab.list.length == 0">{{item}}</li> -->
                  <!-- </ng-template> -->
                </ng-container>
              </ul>
            </div>

            <p>{{tab.description}}</p>
            <p>{{tab.description2}}</p>
          </div>

          <div class="slider__icons">
            <span>Services</span><br>
            <img src={{icon}} alt="image" *ngFor="let icon of tab.icons">
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>