@import "../../../styles/variables";
@import "../../../styles/mixin.scss";

.slider {
  &__counter {
    @include carusel-counter;
  }

  &__content {
    min-height: 710px;
    background: $base-grey-background;

    &.mobile {
      min-height: auto;
      height: calc(100vh - 120px);
    }
  }

  &__detail {
    min-height: 370px;
    width: 450px;
  }

  &__background-image {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
  }

  &__body {
    @include content-container;
    min-height: 370px;
    width: 100%;
    position: absolute;
    z-index: 10;
    color: $white-color;

    &.tablet {
      padding: 0 15px;
    }
  }

  &__detail {
    &.mobile {
      width: 100%;
    }
  }

  &__title-wrap {
    min-height: 115px;
    max-width: 500px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  &__title {
    font-size: 48px;
    line-height: 118.16%;
    margin-bottom: 15px;

    &.tablet {
      height: auto;
      text-align: center;
      min-height: auto;
      max-width: 100%;
      font-size: 26px;
      line-height: 20px;
      padding-top: 0px;
    }

    &.mobile {
      font-size: 18px;
    }
  }

  &__description {
    min-height: 90px;
    font-weight: 300;
    font-size: 24px;
    line-height: 25px;
    max-width: 578px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;

    &.tablet {
      margin: auto;
      text-align: center;
      min-height: auto;
      font-size: 16px;
      line-height: 18px;
      max-width: 400px;
    }

    &.mobile {
      font-size: 14px;
      max-width: 290px;
    }
  }

  &__buttons {
    padding-top: 15px;
    align-items: center;

    &.mobile {
      padding-top: 0;
    }

    span {
      font-size: 17px;
      line-height: 21px;
      text-align: center;
    }
  }

  &__btn {
    color: $white-color;
    width: 183px;
    height: 45px;
    border-radius: 0;
    padding-right: 30px;

    &.mobile {
      margin-bottom: 20px;
    }
  }

  &__image {
    height: 416px;
    max-width: 517px;
    object-fit: contain;

    &.mobile {
      height: auto;
      width: 90%;
    }
  }

  .mat-tab-label {
    min-width: 270px;
  }
}

.get-price-btn {
  background-color: $grey-background-btn;
  font-weight: 300;
}

.add-to-cart-btn {
  background-color: $green-color;

  span {
    font-weight: 500;
  }
}

.remove-from-cart-btn {
  background-color: $red-color;
  width: 235px;

  span {
    font-weight: 500;
  }
}
