<mat-tab-group headerPosition="below" [selectedIndex]="activeTabIndex$ | async" #slider
  (selectedTabChange)="selectedTabChange($event)">
  <mat-tab *ngFor="let tab of tabs" label="{{tab.label}}">
    <ng-template mat-tab-label>
      <div class="slider__counter" [ngClass]="{'active': tab.isActive}" [ngClass.xs]="{'active': tab.isActive, 'mobile': true}"></div>
    </ng-template>

    <div class="slider__content" ngClass.xs="mobile" (click)="customSlider()" fxLayoutAlign="center center">
      <div class="slider__body" ngClass.lt-md="tablet" fxLayout="row" fxLayout.lt-md="column"
        fxLayoutAlign="space-between start" fxLayoutAlign.lt-lg="center center">

        <div class="slider__detail" ngClass.xs="mobile" fxLayout="column" fxLayoutAlign="space-between start"
          fxLayoutAlign.lt-md="center center">
          <div class="slider__title-wrap">
            <div class="slider__title" ngClass.lt-md="tablet" ngClass.xs="tablet mobile">
              {{tab.title}}
            </div>

            <div class="slider__description" ngClass.lt-md="tablet" ngClass.xs="tablet mobile">
              {{tab.description}}
            </div>
          </div>

          <img class="slider__image" ngClass.xs="mobile" src="{{tab.imageSrc}}" alt="product-image" fxHide.gt-sm>

          <div class="slider__buttons" ngClass="mobile" fxLayout="row" fxLayout.lt-sm="column">
            <button mat-flat-button class="get-price-btn slider__btn" ngClass.xs="slider__btn_mobile">
              <app-svg-icons fxLayoutAlign="center center" [iconType]="iconList.Invoice"></app-svg-icons>
              <span>Get Price</span>
            </button>
            <button mat-flat-button class="add-to-cart-btn  slider__btn" ngClass.xs="slider__btn_mobile"
              *ngIf="!(isProductInCart$ | async)" (click)="addToCart(); $event.stopPropagation();">
              <app-svg-icons fxLayoutAlign="center center" [iconType]="iconList.AddToCart"></app-svg-icons>
              <span>Add to cart</span>
            </button>
            <button mat-flat-button class="remove-from-cart-btn  slider__btn" ngClass.xs="slider__btn_mobile"
              *ngIf="isProductInCart$ | async" (click)="removeFromCart(); $event.stopPropagation();">
              <app-svg-icons fxLayoutAlign="center center" [iconType]="iconList.RemoveFromCart"></app-svg-icons>
              <span>Remove from cart</span>
            </button>
          </div>
        </div>

        <img class="slider__image" src="{{tab.imageSrc}}" alt="product-image" fxHide.lt-md>

      </div>
      <div [style.backgroundImage]="'url(' + 'assets/images/slider/slider-background.png' + ')'"
        class="slider__background-image"></div>
    </div>
  </mat-tab>
</mat-tab-group>