<mat-tab-group headerPosition="below" [selectedIndex]="activeTabIndex$" #slider
  (selectedTabChange)="selectedTabChange($event)">
  <mat-tab *ngFor="let tab of tabs" label="{{tab.label}}">
    <ng-template mat-tab-label>
      <div class="slider__counter" [ngClass]="{'slider__counter_active': tab.isActive}"></div>
    </ng-template>

    <div class="slider__content" fxLayout="row" fxLayoutAlign="center center" (click)="customSlider()">
      <div class="slider__body" fxLayout="row" fxLayout.lt-md="column"
        fxLayoutAlign="space-between start" fxLayoutAlign.lt-lg="center center" [ngClass.lt-lg]="{'slider__body_mobile': true}">

        <div class="slider__detail" fxLayout="column" fxLayoutAlign="space-between start"
          fxLayoutAlign.lt-md="center center">
          <div class="slider__title-wrap mobile">
            <div class="slider__title" [ngClass.lt-md]="{'slider__title_mobile': true}">
              {{tab.title}}
            </div>

            <div class="slider__description" [ngClass.lt-md]="{'slider__description_mobile': true}">
              {{tab.description}}
            </div>
          </div>

          <img class="slider__image_mobile" src="{{tab.imageSrc}}" alt="product-image" fxHide.gt-sm [ngClass.lt-md]="">

          <div class="slider__buttons" fxLayout="row" fxLayout.lt-sm="column">
            <button mat-flat-button class="get-price-btn slider__btn">
              <app-svg-icons fxLayoutAlign="center center" [iconType]="iconList.Invoice"></app-svg-icons>
              <span>Get Price</span>
            </button>

            <button mat-flat-button class="add-to-cart-btn slider__btn">
              <app-svg-icons fxLayoutAlign="center center" [iconType]="iconList.AddToCart" *ngIf="!(isProductInCart$ | async)" (click)="addToCart()"></app-svg-icons>
              <span>Add to cart</span>
            </button>
          </div>
        </div>

        <img src="{{tab.imageSrc}}" alt="product-image" class="slider__image"
        fxHide.lt-md>

      </div>
      <div [style.backgroundImage]="'url(' + 'assets/images/slider/slider-background.png' + ')'"
        class="slider__background-image"></div>
    </div>
  </mat-tab>
</mat-tab-group>