<mat-tab-group headerPosition="below" [selectedIndex]="activeTabIndex" #slider
  (selectedTabChange)="selectedTabChange($event)">
  <mat-tab *ngFor="let tab of tabs" label="{{tab.label}}">
    <ng-template mat-tab-label>
      <div class="slider__counter" [ngClass]="{'slider__counter_active': tab.isActive}"></div>
    </ng-template>

    <div class="slider__content" (click)="customSlider()" fxLayoutAlign="center center">
      <div class="slider__body" fxLayout="row" fxLayoutAlign="space-between start">
        <div class="slider__detail" fxLayout="column" fxLayoutAlign="space-between start"
          fxLayoutAlign.lt-md="center center">
          <div [ngClass.lt-md]="{'slider__title_mobile': true}">
            <div class="slider__title">
              {{tab.title}}
            </div>

            <div class="slider__description" [ngClass.lt-lg]="{'slider__text_mobile': true}">
              {{tab.description}}
            </div>
          </div>
          <div class="slider__buttons" fxLayout="row">
            <button mat-flat-button class="get-price-btn slider__btn">
              <app-svg-icons fxLayoutAlign="center center" [iconType]="iconList.Invoice"></app-svg-icons>
              <span>Get Price</span>
            </button>
            <button mat-flat-button class="add-to-cart-btn  slider__btn">
              <app-svg-icons fxLayoutAlign="center center" [iconType]="iconList.AddToCart"></app-svg-icons>
              <span>Add to cart</span>
            </button>
          </div>
        </div>

        <img class="slider__image" src="{{tab.imageSrc}}" alt="product-image">

      </div>
      <div [style.backgroundImage]="'url(' + 'assets/images/slider/slider-background.png' + ')'"
        class="slider__background-image"></div>
    </div>
  </mat-tab>
</mat-tab-group>