@import "../../../styles/variables";
@import "../../../styles/mixin.scss";

.slider {
  &__counter {
    @include carusel-counter;
  }

  &__content {
    min-height: 710px;
    background: $base-grey-background;

    // @media (max-width: $breakpoint-gt-sm) {
    //   height: calc(100vh - 60px);
    // }
  }

  &__detail {
    min-height: 370px;
  }

  &__background-image {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
  }

  &__body {
    @include content-container;
    min-height: 370px;
    width: 100%;
    position: absolute;
    z-index: 10;
    color: $white-color;

    // @media (min-width: $breakpoint-lt-md) and (max-width: $breakpoint-gt-md) {
    //   padding-left: 25px;
    //   padding-right: 25px;
    // }

    // @media (max-width: $breakpoint-gt-sm) {
    //   width: 100%;
    //   height: 100%;
    //   padding: 0;
    // }
  }

  &__title {
    min-height: 115px;
    max-width: 500px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 118.16%;
    letter-spacing: 4px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;

    &_mobile {
      height: auto;
      font-size: 30px;
      line-height: 37px;
    }
  }

  &__description {
    min-height: 90px;
    font-weight: 300;
    font-size: 24px;
    line-height: 25px;
    text-align: justify;
    max-width: 578px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;

    &_mobile {
      padding-top: 15px;
      font-size: 16px;
      width: 60vw;
    }
  }

  &__buttons {
    padding-top: 15px;

    span {
      font-size: 17px;
      line-height: 21px;
      text-align: center;
    }
  }

  &__btn {
    color: $white-color;
    width: 183px;
    height: 45px;
    border-radius: 0;
    padding-right: 30px;
  }

  &__image {
    height: 416px;
    width: 517px;
    object-fit: contain;
  }
}

.get-price-btn {
  background-color: $grey-background-btn;
  font-weight: 300;
}

.add-to-cart-btn {
  background-color: $green-color;

  span {
    font-weight: 500;
  }
}

// ! mat-slider - фиксация для mat-tab-label (position absolute, bottom: 20px)
* {
  position: relative;
}

// *,
// *:before,
// *:after {
//   position: relative;
// }

// .mat-tab-header:before {
//   position: relative;
// }
