@import "../../../styles//mixin";

.wrap {
  position: relative;
}

.product-list {
  @include content-container;
  padding-top: 83px;
  flex-wrap: wrap;
  min-height: 300px;
  position: relative;

  &__item {
    margin-bottom: 42px;
  }
}
