@import "../../../styles/mixin.scss";

.product-list {
  @include content-container;
  padding-top: 83px;
  flex-wrap: wrap;
  min-height: 300px;
  position: relative;
  margin: auto;

  &.mobile {
    padding: 63px 25px 0;
  }

  &__item {
    margin-bottom: 42px;

    &.mobile {
      width: 100%;
    }
  }
}

.wrap {
  position: relative;
}
