<div class="home-page">
  <div class="bunner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place for share your <i>Angular</i> nowleadge</p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{ active: listConfig.type === 'feed' }" (click)="setListTo('feed')">Your
                Feed</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" [ngClass]="{ active: listConfig.type === 'all' }" (click)="setListTo('all')">Global
                Feed</a>
            </li>

            <li class="nav-item">
              <a class="nav-link"> <i class="ion-pound"></i> Ok! </a>
            </li>
          </ul>
        </div>
      </div>

      <app-article-list [limit]="10" [config]="listConfig"></app-article-list>

      <div class="col-md-3">
        <div class="side-bar">
          <p>Popular tags</p>

          <div class="tag-list">
            <a *ngFor="let tag of tags" class="tag-default tag-pill">
              {{ tag }}
            </a>
          </div>

          <div [hidden]="tagsLoaded">
            Loading tags...
          </div>

          <div [hidden]="!tagsLoaded || tags.length > 0">
            No tags are here ...yet.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>