@import "./variables";

@mixin content-container {
  padding: 0 calc(50% - 590px);
}

@mixin logo {
  width: 168px;
  height: 36px;
}

@mixin carusel-counter {
  background-color: $slider-line-color;

  height: 2px;
  width: 70px;

  &_active {
    background-color: $green-color;
  }
}

@mixin error {
  color: $red-color;
  font-size: 12px;
  fill: $red-color;
}

// @mixin text-center {
//   text-align: center;
// }
