@import "./mixin";
@import "./variables";

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    background-color: $header-grey-background;
    position: sticky;
    // position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    flex: 0 0 auto; // запрет на grow (0) & shrink (0) - basis (auto)
  }

  &__content {
    flex: 1 0 auto;
    // padding-top: 60px;
  }
}

.get-price-btn {
  background-color: $grey-background-btn;
  font-weight: 300;
}

.add-to-cart-btn {
  background-color: $green-color;

  span {
    font-weight: 500;
  }
}

button.remove-from-cart-btn {
  background-color: $red-color;
  width: 235px;

  span {
    font-weight: 500;
  }
}
