//general
$white-color: #fff;
$green-color: #72ac0d;
$black-color: #000000;
$red-color: #f57575;

//background
$footer-background: #3d4a4f;
$header-grey-background: #374246;
$base-grey-background: #3f4a4e;

//buttons
$grey-background-btn: #707e84;

//lines
$slider-line-color: #c9d3d6;
$header-cart-line: #dddddd;

//fonts
$light-grey-color: #c9d3d6;

//forms
$placeholder-color: #c4c4c4;
$underline-color: #5a676b;
