//general
$green-color: #72AC0D;
$white-color: #fff;
$red-color: #f57575;

//background
$header-grey-background: #3D4A4F;
$base-grey-background: #3F4A4E;

//lines
$slider-line-color: #C9D3D6;

//buttons
$grey-background-btn: #707E84;

//form
$underline-color: #C4C4C4;
$placeholder-color: #C4C4C4;