//general
$green-color: #72ac0d;
$white-color: #fff;
$red-color: #f57575;
$black-color: #000000;

//background
$header-grey-background: #3d4a4f;
$base-grey-background: #3f4a4e;

//lines
$slider-line-color: #c9d3d6;

//buttons
$grey-background-btn: #707e84;

//form
$underline-color: #c4c4c4;
$placeholder-color: #c4c4c4;
