@import "../../../styles/shared-styles";
@import "../../../styles/mixin";
@import "../../../styles/variables";

.detail-page {
  @include content-container;
  padding-top: 93px;
}

.product {
  padding-bottom: 115px;

  &__details {
    min-height: 525px;
    // width: 90%;
  }

  &__title {
    font-size: 400px;
    font-size: 36px;
    line-height: 44px;
    color: $black-color;
    padding-bottom: 15px;
  }

  &__hours {
    padding-bottom: 15px;
    display: flex;
    align-items: center;

    span {
      font-weight: 300;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: $black-color;
      margin-left: 8px;
    }
  }

  &__description {
    width: 100%;
    min-height: 276px;
    margin-bottom: 60px;
    color: $black-color;
    letter-spacing: 0.8px;
  }

  &__buttons {
    span {
      font-size: 17px;
      line-height: 21px;
      text-align: center;
    }
  }

  &__btn {
    color: $white-color;
    width: 183px;
    height: 45px;
    border-radius: 0;
    padding-right: 30px;
  }

  &__image-wrapper {
    width: 540px;
    height: 525px;
    background: $base-grey-background;
  }

  &__image-background {
    height: 100%;
  }

  &__image {
    width: 389px;
    height: 314px;
    object-fit: contain;
  }
}

.product-info {
  min-height: 270px;
  padding: 60px 40px;

  &__tab {
    // padding: 64px 40px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    .title {
      padding: 30px 0 10px;
    }

    .text {
      line-height: 21px;
    }
  }

  &__text {
    max-width: 857px;
    min-height: 13px;
  }
}

.more-products {
  padding-top: 62px;

  &__head {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    span {
      font-size: 500px;
      font-size: 30px;
      line-height: 37px;
      text-align: center;
      color: $black-color;
    }
  }

  &__product-list {
    padding: 0 50px;
  }
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 5px;
  display: inline-block;
}

.text {
  font-weight: 30;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
  display: inline-block;
}

.product-card {
  width: 312px;
  height: 350px;
  background: $base-grey-background;
  cursor: pointer;

  &__header {
    background-color: $white-color;
    padding-top: 15px;
  }

  &__image {
    width: 271px;
    height: 218px;
    object-fit: contain;
  }

  &__content {
    height: 100%;
  }

  &__title {
    text-decoration: none;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: $black-color;
  }
}

@media (max-width: 960px) {
  .ditail-page {
    padding-top: 30px;
  }

  .product {
    &__details {
      padding: 0 40px;
    }

    &__image-wrapper {
      width: 100%;
    }

    &__description {
      margin-top: 10px;
      margin-bottom: 0;
    }

    &__btn {
      margin-bottom: 15px;
    }
  }
}
@media (max-width: 800px) {
  // .product__details {
  //   padding: 0 40px;
  // }
}
