.dashbord {
  display: flex;
  flex-wrap: wrap;
}

.box {
  margin-top: 2rem;
  width: 33.33%;
}

@media screen and (max-width: 700px) {
  .box {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .box {
    width: 100%;
  }
}
