<form (ngSubmit)="onSubmit()" [formGroup]="form">

  <h2 class="text-center">Add product</h2>

  <div class="form-control">
    <label for="type">Type:</label>
    <select formControlName="type">
      <option value="Phone">Phone</option>
      <option value="Tablet">Tablet</option>
      <option value="Laptop">Laptop</option>
    </select>
    <div class="validation" *ngIf="form.get('type').touched && form.get('type').invalid">
      <small *ngIf="form.get('type').errors.required">Choose product type</small>
    </div>
  </div>

  <div class="form-control">
    <label for="title">Title:</label>
    <input type="text" id="title" formControlName="title">
    <div class="validation" *ngIf="form.get('title').touched && form.get('title').invalid">
      <small *ngIf="form.get('title').errors.required">Enter product title</small>
    </div>
  </div>

  <div class="form-control">
    <label for="photo">Photo:</label>
    <quill-editor formControlName="photo"></quill-editor>
  </div>

  <div class="form-control">
    <label for="info">Info:</label>
    <quill-editor formControlName="info"></quill-editor>
  </div>

  <div class="form-control">
    <label for="price">Price:</label>
    <input type="text" id="price" formControlName="price">
    <div class="validation" *ngIf="form.get('price').touched && form.get('price').invalid">
      <small *ngIf="form.get('price').errors.required">Enter product price</small>
    </div>
  </div>

  <button class="btn btn-block btn-dark">App product</button>

</form>