<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-sidenav-container [style.marginTop.px]="mobileQuery.matches ? 0 : 0">

    <mat-sidenav class="mobile" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="0">
      <mat-nav-list>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/" class="mobile-logo">
          <img src="../../assets/logo.svg" alt="logo">
        </a>

        <mat-divider></mat-divider>

        <mat-nav-list class="mobile-nav">
          <mat-list-item *ngFor="let nav of filterMobileNav">
            <a [routerLink]='nav.path'>{{nav.title}}</a>
          </mat-list-item>
        </mat-nav-list>
        
        <mat-divider></mat-divider>

        <mat-nav-list class="mobile-nav">
          <mat-list-item *ngFor="let nav of filterMobileNav">
            <a [routerLink]='nav.path'>{{nav.title}}</a>
          </mat-list-item>
        </mat-nav-list>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="home-page">

        <mat-toolbar class="toolbar">
          <h1 class="logo">
            <a routerLink="/">
              <img src="../../assets/logo.svg" alt="logo">
            </a>
          </h1>

          <ul class="desctop-nav">
            <li *ngFor="let nav of filterNav">
              <a [routerLink]='nav.path'>{{nav.title}}</a>
            </li>
          </ul>

          <button class="button-menu mobile" mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </mat-toolbar>

        <app-jumbotron></app-jumbotron>

      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>