<div class="app-article-preview" [hidden]="!loading">
  Loading articles...
</div>

<div class="app-article-preview" [hidden]="loading || results.length">
  Not articles are here... yet.
</div>

<nav [hidden]="loading || totalPages.length <= 1">
  <div class="pagination">

    <li class="page-item" [ngClass]="{'active': pageNumber === currentPage}" *ngFor="let pageNumber of totalPages"
      (click)="setPageTo(pageNumber)">
      <a class="page-link">{{pageNumber}}</a>
    </li>

  </div>
</nav>