<div class="contact-us" id="contact-us">
  <div class="contact-us__header">
    <div class="contact-us__header-title">
      <span>Contact Us</span>
    </div>
  </div>

  <div class="contact-us__content">
    <form [formGroup]="contactUsForm" (click)="onSubmit()" class="contact-us__container" fxLayout="column"
      fxLayoutAlign="stretch">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between stretch" fxLayoutGap.gr-sm="40px">
        <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="50">
          <mat-form-field appearance="outline">
            <mat-label class="contact-us__label">
              Name
            </mat-label>
            <input type="text" matInput formControlName="name" class="contact-us__input">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label class="contact-us__label">
              Email
            </mat-label>
            <input type="text" natInput formControlName="email" class="contact-us__input">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label class="contact-us__label">
              Phone
            </mat-label>
            <input type="text" matInput formControlName="skypeOrPhone" class="contact-us__input">
          </mat-form-field>
        </div>

        <div fxLayout="column" fxLayoutAlign="start start" fxFlex="50">
          <mat-form-field appearance="outline" class="contact-us__textarea">
            <mat-label class="contact-us__label">
              Message
            </mat-label>
            <textarea rows="11" matInput formControlName="message" class="contact-us__textarea"></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="contact-us__button" fxLayout="row" fxLayoutAlign="center center">
        <a href="mailto:darklimeteam@gmail.com?subject={{name}} email:{{email}} skype:{{skypeOrPhone}}, &body={{message}}"
          class="contact-us__button_href" type="submit"></a>
      </div>
    </form>
  </div>
</div>