<ng-container *ngIf="isWide else simpleTemplate">
  <ng-container *ngTemplateOutlet="wideTemplate"></ng-container>
</ng-container>

<ng-template #simpleTemplate>
  <div class="product-card" fxLayout="column-reverse" [routerLink]="['/product', product.productId]">
    <div class="product-card__header">
      <a class="product-card__title">
        {{product.productName}}
      </a>
    </div>

    <div class="product-card__content" fxLayoutAlign="center center">
      <img src="../../../../assets/images/ImageItem.png" alt="Photo of the product" class="product-card__image">
    </div>
  </div>
</ng-template>
<!-- [ngClass.lt-lg]="{'product-card product-card_wide_mobile': true}" -->
<ng-template #wideTemplate>
  <div class="product-card product-card_wide" [ngClass.lt-sm]="{'product-card product-card_wide_mobile': true}"
    fxLayout="column-reverse" [routerLink]="['/product', product.productId]">
    <div class="product-card__header">
      <a class="product-card__title">
        {{product.productName}}
      </a>
    </div>

    <div class="product-card__content" fxLayoutAlign="center center">
      <img src="../../../../assets/images//ImageItem.png" alt="Photo of the product" class="product-card__image">
    </div>
  </div>
</ng-template>