@import "../../../../styles/variables";

.product-card {
  width: 312px;
  height: 350px;
  background: $base-grey-background;
  cursor: pointer;

  &_wide {
    min-width: 500px;
  }

  &__image {
    width: 272px;
    height: 218px;
    object-fit: contain;
  }

  &__content {
    height: 100%;
  }

  &__title {
    text-decoration: none;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: $black-color;
  }

  &__header {
    background-color: $white-color;
    padding-top: 15px;
  }
}
