@import "../../../../styles/variables";

.product-card {
  width: 280px;
  height: 350px;
  background: $base-grey-background;
  cursor: pointer;
  margin: auto;

  &_wide {
    min-width: 500px;

    &_mobile {
      min-width: auto;
      width: 100%;
    }
  }

  &__image {
    // width: 272px;
    // height: 218px;
    // object-fit: contain;
    width: 70%;
    height: auto;
  }

  &__content {
    height: 100%;
  }

  &__title {
    text-decoration: none;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: $black-color;
  }

  &__header {
    background-color: $white-color;
    padding-top: 15px;
  }
}
