@import "../../../../styles/variables.scss";

.product-card {
  position: relative;
  width: 312px;
  height: 350px;
  background: $base-grey-background;
  cursor: pointer;
  margin: auto;

  &_wide {
    min-width: 500px;

    &_mobile {
      min-width: auto;
      width: 100%;
    }
  }

  .image-wrapper {
    width: 271px;
    height: 218px;
    display: flex;
    align-self: center;
    justify-self: center;
    margin-bottom: 46px;

    .image {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__content {
    height: 100%;
  }

  &__title {
    text-decoration: none;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: $black-color;
  }

  &__header {
    background-color: $white-color;
    padding-top: 15px;
  }
}

.product-card.detailed {
  position: relative;
  width: 100%;
  height: 100%;

  .title {
    display: inline-block;
    width: 100%;
    font-weight: 400;
    font-size: 28px;
    line-height: 26px;
    color: #000000;
    padding-bottom: 15px;
  }

  .image-wrapper {
    width: 100%;
    height: 370px;
    background: $base-grey-background;
    text-align: center;

    &:before {
      content: "";
      height: 100%;
      display: inline-block;
      vertical-align: middle;
    }

    .image {
      display: inline-block;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
    }
  }

  .hours {
    display: block;
    float: left;
    padding: 5px;
    width: 100%;
    background-color: #fff;

    span {
      font-weight: 300;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: $black-color;
      margin-left: 8px;
    }
  }

  .description {
    display: block;
    background: #fff;
    padding: 10px 0;
    width: 100%;
  }
}

.product-list-item.product {
  margin-bottom: 15px;
  height: 105px;
  overflow: hidden;
  cursor: pointer;

  .product__content {
    width: calc(100% - 140px);
    display: block;
    float: right;

    .title {
      display: inline-block;
      width: calc(100% - 130px);
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;
      color: #000000;
      padding-bottom: 15px;
    }

    .hours {
      display: inline-block;
      float: right;
      padding: 5px;
      width: 130px;

      span {
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: $black-color;
        margin-left: 8px;
      }
    }

    .description {
      width: 100%;
      min-height: 267px;
      margin-bottom: 60px;
      color: $black-color;
      letter-spacing: 0.8px;
    }
  }

  .product__image {
    width: 130px;
    height: 104px;
    display: block;
    float: left;
    margin-right: 10px;

    .image {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
