@import "~materialize-css/dist/css/materialize.min.css";

input.yellow-input {
  border-bottom: 2px solid #fff !important;
  color: #fff;
}

input.yellow-input:focus {
  border-bottom: 2px solid #ffeb3b !important;
}

input.yellow-input+label {
  color: #fff !important;
}

input.yellow-input:focus+label {
  color: #ffeb3b !important;
}

