<!-- <app-dynamic></app-dynamic> -->

<div class="container">

  <!-- <app-rxjs></app-rxjs> -->

  <!-- <app-observables></app-observables> -->

  <!-- <app-input [item]="currentItem"></app-input> -->

  <!-- <app-input (newItemEvent)="addItem($event)"></app-input> -->

  <!-- <ul>
    <li *ngFor="let item of items">{{item}}</li>
  </ul> -->

  <!-- <app-operators></app-operators> -->

  <app-svg></app-svg>

  <!-- <app-events></app-events> -->

  <!-- <div>
    <p appHighlight [highlightColor]="'orange'">Highlight in orange</p>
    <p appHighlight highlightColor="green">Highlight in green!</p>
    <p appHighlight [highlightColor]="color">Highlight with parent component's color</p>
    <p [appHighlight]="color">Highlight me!</p>
  </div> -->

  <!-- <div>
    <h1>My First Attribute Directive</h1>

    <h4>Pick a highlight color!</h4>

    <div>
      <input type="radio" name="colors" (click)="color='lightgreen'">Green
      <input type="radio" name="colors" (click)="color='yellow'">Yellow
      <input type="radio" name="colors" (click)="color='cyan'">Cyan
    </div>

    <p [appHighlight]="color">Highlight me!</p>
    <p [appHighlight]="color" defaultColor="violet">Highlight me!</p>
  </div> -->

  <app-structural></app-structural>

</div>
