/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

.height5000 {
  height: 5000px;
}

.form-control {
  display: block;
  margin-top: 0.3rem;
}

input,
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #000;
  margin: .5rem 0 .2rem;
}

.card {
  padding: 1rem;
  border: 1px dotted #000;
  margin: 0.7rem 0;
}

.btn {
  background: #000;
  color: #ffffff;
  padding: 0.3rem 1.5rem;
  cursor: pointer;
}

.btn[disabled] {
  background: #ccc;
}

.mr {
  margin-right: 1rem;
}