@import "../../../styles/variables";

.detail-page {
  text-align: center;

  &__go-home {
    background: $grey-background-btn;
    color: #fff;
  }

  &__add-to-cart {
    background: $green-color;
    color: #fff;
  }
}
