<div class="layout">
    <div class="layout__content detail-page" *ngIf="product$ | async as product">
        <div class="product" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="product__details">
                <div class="product__title">{{product.productName}}</div>
                <div class="product__hours">
                    <app-svg-icons [iconType]="'clock'"></app-svg-icons>
                    <!-- <span>{{product.hours}}</span> -->
                </div>

                <div class="product__image mobile" fxLayout="column-reverse">
                    <div class="product__image__content" fxLayoutAlign="center center">
                        <img class="product__image__image" src={{product.productPhotos[0].src}}
                            alt={{product.productName}}>
                    </div>
                </div>

                <div class="product__description" fxLayout="column" fxLayoutAlign="space-between flex-start ">
                    <div>
                        <span class="title">Customers needs</span><br>
                        <!-- <span class="text">{{product.industries}}</span> -->
                    </div>
                    <div>
                        <span class="title">Short Description</span><br>
                        <span class="text">{{product.productShortDescription}}</span>
                    </div>
                </div>
                <div class="product__buttons" fxLayout="row">
                    <button mat-flat-button class="get-price-btn product__btn" (click)="showCart()">
                        <app-svg-icons fxLayoutAlign="center center" [iconType]="iconList.Invoice"></app-svg-icons>
                        <span>Get Price</span>
                    </button>

                    <button mat-flat-button class="add-to-cart-btn  product__btn" *ngIf="!(isProductInCart$ | async)"
                        (click)="addToCart(product)">
                        <app-svg-icons fxLayoutAlign="center center" [iconType]="iconList.AddToCart"></app-svg-icons>
                        <span>Add to cart</span>
                    </button>
                    <button mat-flat-button class="remove-from-cart-btn  product__btn" *ngIf="isProductInCart$ | async"
                        (click)="removeFromCart(product)">
                        <app-svg-icons fxLayoutAlign="center center" [iconType]="iconList.RemoveFromCart">
                        </app-svg-icons>
                        <span>Remove from cart</span>
                    </button>
                </div>
            </div>

            <div class="product__image" fxLayout="column-reverse">
                <div class="product__image__content" fxLayoutAlign="center center">
                    <img class="product__image__image" src={{product.productPhotos[0].src}} alt={{product.productName}}>
                </div>
            </div>
        </div>

        <div class="product-info">
            <mat-tab-group mat-align-tabs="center">
                <mat-tab label="Our expience">
                    <div class="product-info__tab">
                        <div class="product-info__text">
                            <span class="title">Industries</span><br>
                            <!-- <span class="text"> {{product.ourExperience}}</span> -->
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Tech stack">
                    <div class="product-info__tab">
                        <div class="product-info__text">
                            <span class="title">Industries</span><br>
                            <!-- <span class="text">{{product.techStack}}</span> -->
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Who uses">
                    <div class="product-info__tab">
                        <div class="product-info__text">
                            <span class="title">Industries</span><br>
                            <!-- <span class="text">{{product.whoUses}}</span> -->
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Industries">
                    <div class="product-info__tab">
                        <div class="product-info__text">
                            <span class="title">Industries</span><br>
                            <!-- <span class="text">{{product.industries}}</span> -->
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>

        <div class="more-products">
            <div class="head">
                <span>More Products</span>
            </div>
            <div class="product-list">
                <div class="item" *ngFor="let product of randomProductList$ | async">
                    <app-product [product]="product" [viewMode]="'SIMPLE_CARD'"></app-product>
                </div>
            </div>
        </div>
    </div>
</div>