@import "../../../styles/variables";

.detail-page {
  text-align: center;

  &__go-home {
    background: $grey-background-btn;
    color: #fff;
    border-radius: inherit;
  }

  hr {
    margin: 15px 0;
  }

  &__add-to-cart {
    background: $green-color;
    color: #fff;
    border-radius: inherit;

    span {
      margin-left: 10px;
    }
  }
}
