@import "../../../styles/mixin.scss";
@import "../../../styles/variables";

:host {
  .mat-tab-label {
    min-width: 20% !important;
  }
}

.detail-page {
    @include content-container;
    padding-top: 93px;
}

.product {
    padding-bottom: 115px;

    &__details {
        min-height: 525px;
        max-width: 90%;
    }

    &__title {
        font-weight: 400;
        font-size: 36px;
        line-height: 44px;
        color: $black-color;
        padding-bottom: 15px;
    }

    &__hours {
        padding-bottom: 15px;
        span {
            font-weight: 300;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: $black-color;
            margin-left: 8px;
        }
    }

    &__description {
        width: 100%;
        min-height: 267px;
        margin-bottom: 60px;
        color: $black-color;
        letter-spacing: 0.8px;
    }

    &__buttons {
        span {
            font-size: 17px;
            line-height: 21px;
            text-align: center;
        }
    }

    &__btn {
        color: $white-color;
        width: 183px;
        height: 45px;
        border-radius: 0;
        padding-right: 30px;
    }

    &__image {
        width: 540px;
        height: 525px;
        background: $base-grey-background;

      &.mobile {
        display: none !important;
      }

      &__image {
            width: 389px;
            height: 314px;
            object-fit: contain;
        }

        &__content {
            height: 100%;
        }
    }

    .get-price-btn {
        background-color: $dark-grey-background-btn;
        font-weight: 300;
    }

    .add-to-cart-btn {
        background-color: $green-color;

        span {
            font-weight: 500;
        }
    }

    .remove-from-cart-btn {
      background-color: $red-color;
      width: 235px;

      span {
        font-weight: 500;
      }
    }
}

.product-info {
    min-height: 270px;
    padding-bottom: 60px;

    &__tab {
        padding-top: 64px;
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: column;

        .title {
            padding-bottom: 10px;
        }

        .text {
            line-height: 21px;
        }
    }

    &__text {
        max-width: 857px;
        min-height: 130px;
    }
}

.more-products {
    padding-top: 62px;

    .head {
        display: flex;
        justify-content: center;

        span {
            font-weight: 500;
            font-size: 30px;
            line-height: 37px;
            text-align: center;
            color: $black-color;
        }
    }

    .product-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 50px;

        .item {
            padding: 10px;
        }
    }
}

.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 5px;
    display: inline-block;
}

.text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 20px;
    display: inline-block;
}

.product-card {
    width: 312px;
    height: 350px;
    background: $base-grey-background;
    cursor: pointer;

    &__image {
        width: 271px;
        height: 218px;
        object-fit: contain;
    }

    &__content {
        height: 100%;
    }

    &__title {
        text-decoration: none;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: $black-color;
    }

    &__header {
        background-color: $white-color;
        padding-top: 15px;
    }
}
.layout {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__header {
        background-color: $header-grey-background;
        top: 0;
        position: sticky;
        left: 0;
        right: 0;
        z-index: 1001;
        flex: 0 0 auto;
    }

    &__content {
        flex: 1 0 auto;
    }

    &__footer {
        flex: 0 0 auto;
    }
}

@media (max-width:800px) {

  .product__image {
    display: none !important;

    &.mobile {
      display: block !important;
      width: 100%;
    }
  }

  .product__details {
    padding: 0 40px;
  }

  .detail-page {
    padding-top: 30px;
  }

  .product__description {
    margin-top: 30px;
  }

  .product__buttons {
    flex-direction: column !important;

    .product__btn {
      width: 235px !important;
      margin-bottom: 30px;
    }
  }

  .product-info__text {
    padding: 0 20px;
  }

  .more-products .product-list {
    flex-direction: column;
    padding-bottom: 50px;
  }

}
