<div class="layout">
    <div class="layout__header">
        <app-header></app-header>
    </div>
    <div class="layout__content detail-page">
        <div class="product" *ngIf="product$ | async as product" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="product__details">
                <div class="product__title">
                    {{product.productName}}
                </div>
                <div class="product__hours">
                    <app-svg-icons [iconType]="'clock'"></app-svg-icons>
                    <span>40-50 h</span>
                </div>

                <div class="product__image mobile" fxLayout="column-reverse">
                  <div class="product__image__content" fxLayoutAlign="center center">
                    <img class="product__image__image" src="../../../../assets/images/ImageItem.png"
                         alt="Photo of the product">
                  </div>
                </div>

                <div class="product__description" fxLayout="column" fxLayoutAlign="space-between flex-start ">
                    <div>
                        <span class="title">Customers needs</span><br>
                        <span class="text"> mobile first, icon on homescreen, notification for Android, offline mode and
                            good experience
                            using a pure mobile connection, good SEO, no need to submit your app to the App store or
                            Google
                            Play and pay commission.</span>
                    </div>
                    <div>
                        <span class="title">Short Description</span><br>
                        <span class="text">Mobile First with icon on Homepage, Behave Like Native Apps (with some
                            restriction), No Store
                            Required, Much Cheaper to Develop, Deploy, Promote and Maintain than Native Apps, Offline,
                            Hardware Integration, Improved Page Speed, Cached Assets Reduce Server Load & Less Data
                            Requirements.</span>
                    </div>
                </div>
                <div class="product__buttons" fxLayout="row">
                    <button mat-flat-button class="get-price-btn product__btn">
                        <app-svg-icons fxLayoutAlign="center center" [iconType]="iconList.Invoice"></app-svg-icons>
                        <span>Get Price</span>
                    </button>

                    <button mat-flat-button class="add-to-cart-btn  product__btn" *ngIf="!(isProductInCart$ | async)" (click)="addToCart(product)">
                      <app-svg-icons fxLayoutAlign="center center" [iconType]="iconList.AddToCart"></app-svg-icons>
                      <span>Add to cart</span>
                    </button>
                    <button mat-flat-button class="remove-from-cart-btn  product__btn" *ngIf="isProductInCart$ | async" (click)="removeFromCart(product)">
                        <app-svg-icons fxLayoutAlign="center center" [iconType]="iconList.RemoveFromCart"></app-svg-icons>
                        <span>Remove from cart</span>
                    </button>
                </div>
            </div>

            <div class="product__image" fxLayout="column-reverse">
                <div class="product__image__content" fxLayoutAlign="center center">
                    <img class="product__image__image" src="../../../../assets/images/ImageItem.png"
                        alt="Photo of the product">
                </div>
            </div>
        </div>

        <div class="product-info">
            <mat-tab-group mat-align-tabs="center">
                <mat-tab label="Our expience">
                    <div class="product-info__tab">
                        <div class="product-info__text">
                            <span class="title">Industries</span><br>
                            <span class="text"> multi vendor marketplace, internal company management applications,
                                casino PWA. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </span>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Tech stack">
                    <div class="product-info__tab">
                        <div class="product-info__text">
                            <span class="title">Industries</span><br>
                            <span class="text"> multi vendor marketplace, internal company management applications,
                                casino PWA. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </span>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Who uses">
                    <div class="product-info__tab">
                        <div class="product-info__text">
                            <span class="title">Industries</span><br>
                            <span class="text"> multi vendor marketplace, internal company management applications,
                                casino PWA. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </span>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Industries">
                    <div class="product-info__tab">
                        <div class="product-info__text">
                            <span class="title">Industries</span><br>
                            <span class="text"> multi vendor marketplace, internal company management applications,
                                casino PWA. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </span>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>

        <div class="more-products">
            <div class="head">
                <span>More Products</span>
            </div>
            <div class="product-list">
                <div class="item"
                     *ngFor="let product of randomProductList$ | async">
                    <app-product [product]="product" [viewMode]="'SIMPLE_CARD'"></app-product>
                </div>
            </div>
        </div>
    </div>
    <div class="layout__footer">
        <app-footer></app-footer>
    </div>
</div>
