@import "./variables";

@mixin section-container {
  padding: 0 calc(50% - 590px);

  &.mobile {
    padding-left: 25px;
    padding-right: 25px;
  }

  // @media (max-width: $breakpoint-gt-md) {
  //   padding-left: 25px;
  //   padding-right: 25px;
  // }
}

@mixin container-padding {
  padding-top: 30px;
  padding-bottom: 30px;
}

@mixin carusel-counter {
  background-color: $white-color;
  height: 2px;
  width: 50px;

  &.active {
    background-color: $green-color;
  }

  &.mobile {
    height: 15px;
    width: 15px;
    border-radius: 50%;
  }

  // @media (max-width: $breakpoint-gt-xs) {
  //   height: 15px;
  //   width: 15px;
  //   border-radius: 50%;
  // }
}

@mixin dark-grey-ground {
  background-color: $grey-bg-color;
}

@mixin header {
  text-align: center;
  letter-spacing: 0;
  opacity: 1;
  vertical-align: middle;
  position: relative;
  
  &-title {
    padding-top: 71px;
    font-size: 30px;
    font-weight: normal;
    height: 53px;
    margin: 0;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      // transform: translateX(-50%);
      margin-left: -$width-underline-headers / 2;
      height: 3px;
      font-weight: 60;
      width: $width-underline-headers;
      background: $green-color;
    }
  }
}

@mixin client-slider-counter {
  display: flex;
  background: #ddd 0% 0% no-repeat padding-box;
  height: 15px;
  width: 15px;
  border-radius: 50%;

  &.active {
    background-color: $green-color;
  }
}

@mixin small-slider-container {
  .mobile {
    max-width: 600px;
  }
}

@mixin change-autofill-style($bg-color, $bg-active-color, $text-color) {
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px $bg-color inset !important;
  }

  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 100px $bg-active-color inset !important;
  }

  /*Change text in autofill textbox*/
  input:-webkit-autofill {
    -webkit-text-fill-color: $text-color !important;
  }
}