h1, h2 {
  font-size: 40px;
  color: navy;
}

h5 {
  margin-bottom: 5px;
}

p {
  font-size: 13px;
  margin: 5px;
}

:host {
  font-family: Verdana;
  color: #555555;
}

div {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
}

.isredbox {
  background-color: red;
}

.isbluebox {
  background-color: blue;
}

.isgreenbox {
  background-color: green;
}
