<h2>Users</h2>

<input type="text" [(ngModel)]="name">

<button (click)="addUser()">Add User</button>

<h5>Users count: {{userCount$ | async}}</h5>

<ul [hidden]="!userLoaded">
  <li *ngFor="let user of users">
    {{user.name}}
    <div>

      <button (click)="showEditField(user.id)">
        <i class="ion-compose ml-5"></i>
      </button>

      <button (click)="deleteUser(user.id)">
        <i class="ion-trash-a"></i>
      </button>

    </div>
  </li>
</ul>

<div class="update-field" *ngIf="isVisible">
  <input type="text" [(ngModel)]="updateName">
  <button (click)="updateUser()">Save</button>
</div>

<app-spinner [hidden]="userLoaded"></app-spinner>