<div class="container" *ngIf="cartProducts.length; else empty || added">

  <div *ngIf="!added">
    <h2 class="text-center">Your order:</h2>

    <table>
      <tbody>
        <tr *ngFor="let cartProduct of cartProducts; let i = index">
          <td>{{cartProduct.type}}</td>
          <td>{{cartProduct.title}}</td>
          <td>{{cartProduct.price}} $</td>
          <td>
            <button class="btn btn-danger" (click)="delete(cartProduct)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

    <hr>

    <div class="right">
      <b>Total: {{this.totalPrice}} $</b>
    </div>
  </div>

  <h2 class="text-center">Delivery:</h2>

  <!-- <div *ngIf="added" class="text-center text-danger">
    <h2>{{this.added}}</h2>
  </div> -->

  <form (ngSubmit)="onSubmit()" [formGroup]="form" *ngIf="!added">

    <div class="form-control">
      <label for="name">Name</label>
      <input type="name" id="name" formControlName="name">
      <div class="validation" *ngIf="form.get('name').touched && form.get('name').invalid">
        <small *ngIf="form.get('name').errors.required">Enter you name</small>
      </div>
    </div>

    <div class="form-control">
      <label for="phone">Phone number</label>
      <input type="phone" id="phone" formControlName="phone">
      <div class="validation" *ngIf="form.get('phone').touched && form.get('phone').invalid">
        <small *ngIf="form.get('phone').errors.required">Enter your phone number</small>
      </div>
    </div>

    <div class="form-control">
      <label for="address">Address</label>
      <input type="address" id="address" formControlName="address">
      <div class="validation" *ngIf="form.get('address').touched && form.get('address').invalid">
        <small *ngIf="form.get('address').errors.required">Enter your address</small>
      </div>
    </div>

    <div class="form-control">
      <label for="payment">Payment method:</label>
      <select formControlName="payment">
        <option value="Cash">Cash</option>
        <option value="Card">Card</option>
      </select>
    </div>

    <button type="submit" class="btn btn-block btn-dark" [disabled]="form.invalid || submitted">Pay</button>

  </form>
</div>

<div class="text-center text-danger" *ngIf="added">
  <h2>{{this.added}}</h2>
</div>

<ng-template #empty>
  <h2 class="text-center" *ngIf="!added">Your cart is empty, select product.</h2>
</ng-template>