@import "~materialize-css/dist/css/materialize.min.css";

.card-title {
  margin-bottom: 25px !important;
}

input.yellow-input {
  color: #fff;
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;
}

input.yellow-input:focus {
  border-bottom: 1px solid #f57f17  !important;
  box-shadow: 0 1px 0 0 #f57f17  !important;
}

input.yellow-input+label {
  color: #fff !important;
}

input.yellow-input:focus+label {
  color: #f57f17  !important;
}

.btn.yellow {
  margin-right: 10px;
}

.nav-wrapper {
  padding: 0 2rem;
}

.loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links-list {
  margin-top: 30px;
}