<div class="card">
  <div class="card-block">
    <p class="card-text">
      {{comment.body}}
    </p>
  </div>

  <div class="card-footer">
    <a [routerLink]="['/profile', comment.author]" class="comment-author">
      <img [src]="comment.author.image" alt="img" class="comment-author-img">
    </a>
    &nbsp;
    <a [routerLink]="['/profile', comment.author]" class="comment-auther">
      {{comment.author.username}}
    </a>

    <span class="date-posted">
      {{comment.createAt | date: 'longDate'}}
    </span>

    <span class="mod-options" [hidden]="!canModify">
      <i class="ion-trash-a" (click)="deleteClicked()"></i>
    </span>
  </div>
</div>