<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">To home</button>
  </div>

  <div class="info">
    <strong>Outher</strong>
    <small>23.05.2020</small>
  </div>

  <div>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem deleniti cupiditate ab eveniet tempore dolorem fugit praesentium totam perferendis beatae.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem deleniti cupiditate ab eveniet tempore dolorem fugit praesentium totam perferendis beatae.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem deleniti cupiditate ab eveniet tempore dolorem fugit praesentium totam perferendis beatae.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem deleniti cupiditate ab eveniet tempore dolorem fugit praesentium totam perferendis beatae.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem deleniti cupiditate ab eveniet tempore dolorem fugit praesentium totam perferendis beatae.</p>
  </div>
</div>
