/* You can add global styles to this file, and also import other style files */

// Custom Angular Material
@import 'styles/c';
// @import 'styles/custom-material-styles';
@import 'styles/variables';

.grey-icon {
  color: $grey-icon-color;
}

a {
  text-decoration: none;
  color: inherit;
}
